{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"semi": false,
	"printWidth": 100,
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrder": ["^@blockless/(.*)$", "^[./]"],
	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
